* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 14px;
}

ul, ol,li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  display: block;
  width: 100%;
  height: 100%;
}

body {
  font-family: 'Pretendard', sans-serif;
  color: #111;
}

.container{
  /* width:1500px; */
  width: calc(100% - 200px);
  margin: 0 auto;
}

button{
  border: none;
  outline: none;
  background: transparent;
  padding: 0;
  margin: 0;
  font: inherit;
  color: inherit;
  cursor: pointer;
}

@media screen and (max-width:1540px){
  .container{
    width: 90%;
  }
}
