/* 공통 */
section h2{text-align: center;}

/* header */
.header{
    width: 100%;
    height:115px;
    position:fixed;
    z-index: 100;
    top: 0;
    left: 0;
    transition: background 0.3s;
}
.header.active{background: #fff;}
.header.active .logo{background-image: url(/img/logo_h.svg);}
.header.active .lang{background-image: url(/img/ico/lang_h.svg);}
.header.active .menu li a{color: #111;}
.header.active .hd_right .hd_pc_btn span{background: #111;}
.header .logo{color: #fff;
    width: 150px;
    height: 35px;
    background-image: url(/img/logo.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}
.header .h_inner{
    position:relative;
    z-index: 2;
    height: 100%;
    width: 1820px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header nav{
    position: absolute;
    top: 0;
    left: 50%;
    height: 100%;
    transform: translateX(-50%);
}
.header nav > ul{
    display: flex;
    height: 100%;
}
.header nav > ul > li{
    position: relative;
    width: 200px;
    height: 100%;
}
.header nav > ul > li > a{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    text-align: center;
    font-size: 22px;
    font-weight: bold;
    color: #fff;
}
.header .hd_right{
    display: flex;
    align-items: center;
    gap: 50px;
}
.header .hd_right .lang_w{
    width: 64px;
    position: relative;
}
.header .hd_right .lang_w.open .list{display: block;}
.header .hd_right .lang_w.open > button{border-radius: 5px 5px 0 0 ;}
.header .hd_right .lang_w > button{
    background: #2861FC;
    color: #fff;
    width: 100%;
    height: 33px;
    padding: 0 10px;
    border-radius: 5px;
    position: relative;
    display: flex;
    align-items: center;
}
.header .hd_right .lang_w > button:after{
    position: absolute;
    content: "";
    display: block;
    right: 10px;
    width: 10px;
    height: 10px;
    background-color: #fff;
    background: url(/img/ico/lang_arrow.svg)no-repeat center / contain;
}
.header .hd_right .lang_w .list{
    display: none;
    background: #2861FC;
    position: absolute;
    left: 0;
    width: 100%;
    border-radius: 0 0 5px 5px;
    padding: 0 10px 10px;
}
.header .hd_right .lang_w .list ul{
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.header .hd_right .lang_w .list li a{color: #fff;}
.header .hd_right .hd_pc_btn{
    display: flex;
    flex-direction: column;
    gap: 9px;
}
.header .hd_right .hd_pc_btn span{
    display: block;
    width: 30px;
    height: 2px;
    background: #fff;
}

.more_btn:hover{color: #7A4E2D;}

/* more_cursor */
.index_wrap .more_cursor_wrap{
    position: relative;
    overflow: hidden;
}
.index_wrap .more_cursor_wrap .more_cursor{
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    text-align: center;
    background-color: #2861FC;
    pointer-events: none;
    transition: opacity .3s, transform .3s;
    transform: translate(-50%, -50%) scale(0.8);
}
.index_wrap .more_cursor_wrap .more_cursor.act{
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
}
/* index_wrap */
.index_wrap{overflow: hidden;}
.index_wrap .main_slider{
    position: relative;
    height: 910px;
    overflow: hidden;
}
.index_wrap .main_slider .main_mask{
    width: 100%;
    height: 100%;
}
.index_wrap .main_slider .item{
    width: 100%;
    height: 100%;
    position: relative;
}
.index_wrap .main_slider .item picture img{
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transform: scale(1.2);
    transition: transform 2s ease-out;
}
.index_wrap .main_slider .item.swiper-slide-active picture img{transform: scale(1);}
.index_wrap .main_slider .item .t_box{
    position: absolute;
    bottom: 200px;
    left: 50%;
    width: 1600px;
    margin: 0 auto;
    transform: translateX(-50%);
}
.index_wrap .main_slider .item .t_box .t1{color: #fff;line-height: 130%;}
.index_wrap .main_slider .item .t_box .t2{color: #fff; margin-top: 30px;}
.index_wrap .main_slider .pagi_box{position: absolute;z-index: 2;left: 50%; bottom: 60px;width: 1400px;transform: translateX(-50%);}
.index_wrap .main_slider .pagi_box .df_box{display: flex;align-items: center;justify-content: center;gap: 30px;}
.index_wrap .main_slider .pagi_box .df_box .arrow_btn{display: flex;align-items: center;gap: 10px;font-size: 16px;opacity: 0.5;color: #fff;transition: opacity 0.5s;}
.index_wrap .main_slider .pagi_box .df_box .arrow_btn.prev > img{transform: scale(-1);}
.index_wrap .main_slider .pagi_box .df_box .arrow_btn > img{width: 20px;height: 20px;}
.index_wrap .main_slider .pagi_box .df_box .main_pagi{
    width: 80px;
    text-align: center;
    position: static;
    font-size: 16px;
    color: rgba(255, 255, 255,0.5);
}
.index_wrap .main_slider .pagi_box .df_box .main_pagi .swiper-pagination-current{
    font-size: 24px;
    font-weight: bold;
    color: #fff;
}

.index_wrap section{margin-top: 150px;}
.index_wrap .cont_t .tit{text-align: center;margin-bottom: 80px;}
.index_wrap .cont_t .tit .desc{margin-top: 30px;}
.index_wrap .service_sec .service_list ul{
    display: flex;
    gap:2px;
    flex-wrap: wrap;
}
.index_wrap .service_sec .service_list ul li{
    width: calc(50% - 1px);
}
.index_wrap .service_sec .service_list .item{
    background: url(/img/main_service_01.jpg);
    display: block;
    min-height: 600px;
    height: 100%;
    padding: 100px;
    background-size: cover;
    background-position: center center;
}
.index_wrap .service_sec .service_list .item .txt .tit{color: #fff;}
.index_wrap .service_sec .service_list .item .txt .desc{color: #fff;margin-top: 30px;}

/* .index_wrap .consult_sec */
.index_wrap .consult_sec .main_consult_slide{
    position: relative;
}
.index_wrap .consult_sec .main_consult_slide .item{display: block;}
.index_wrap .consult_sec .main_consult_slide .item .img{
    overflow: hidden;
    position: relative;
    aspect-ratio: 1/1;
    border-radius: 20px;
}
.index_wrap .consult_sec .main_consult_slide .item .img .text{
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: flex-end;
    width: 100%;
    font-weight: bold;
    padding: 40px;
    font-size: 24px;
    color: #fff;
    min-height: 50%;
    background: rgba(0, 37, 102, 0.09);
    background: linear-gradient(180deg, rgba(0,37,102,0) 0%, rgba(0,37,102,1)100%);
}
.index_wrap .consult_sec .main_consult_slide .item .txt{margin-top: 30px;}
.index_wrap .consult_sec .main_consult_slide .item .txt .desc{color: #666;font-size: 18px;}
.index_wrap .consult_sec .main_consult_slide .arrow_btn{
    z-index: 3;
    display: block;
    position: absolute;
    width: 80px;
    height: 80px;
    border: 1px solid #ddd;
    border-radius: 50%;
    background: #fff;
    background-image: url(/img/ico/arrow.svg);
    background-size: 20px 20px;
    top: 30%;
    background-repeat: no-repeat;
    background-position: center center;
}
.index_wrap .consult_sec .main_consult_slide .arrow_btn.prev{left: -40px;}
.index_wrap .consult_sec .main_consult_slide .arrow_btn.next{right: -40px;transform: scaleX(-1);}
.index_wrap .consult_sec .main_consult_slide .progress_bar{
    display: none;
    position: relative;
    margin: 60px auto 0;
    width: 280px;
    height: 2px;
    background: #ddd;
}
.index_wrap .consult_sec .main_consult_slide .progress_bar .swiper-pagination-progressbar-fill{background-color: #2861FC;}

.index_wrap .location{background: rgba(248, 249, 254,0.8);}
.index_wrap .location h2{margin-bottom: 60px;}
#map{
    width: 100%;
    height: 500px;
}

/* top_btn */
.top_btn{
    display: none;
    z-index: 50;
    position: fixed;
    right: 50px;
    bottom: 60px;
    width: 60px;
    height: 60px;
    border: 1px solid #eee;
    border-radius: 50%;
    background-color: #fff;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url(/img/ico/top_btn.svg);
}

/* footer */
.footer{
    padding-top: 70px;
    position: relative;
    background: #00336A;
}
.footer .f_cont{padding: 0 40px;width: 100%;}
.footer .f_cont .f_t{
    display: flex;
    gap:20px;
    padding-bottom: 70px;
    border-bottom: 1px solid rgba(102, 124, 163,0.6);;
}
.footer .f_cont .f_t .l_cont{width: calc(100% - 1100px);}
.footer .f_cont .f_t .l_cont .info_box{
    margin-top: 70px;
}
.footer .f_cont .f_t .l_cont .info_box p{
    margin-bottom: 10px;
    color: #667AC3;
}
.footer .f_cont .f_t .l_cont .info_box p span{
    margin-right: 7px;
    color: #fff;
}
.footer .f_cont .f_t .r_cont{width: 1050px;}
.footer .f_cont .f_t .r_cont .list > ul{display: flex;}
.footer .f_cont .f_t .r_cont .list > ul > li{width: 150px;}
.footer .f_cont .f_t .r_cont .list > ul > li > a{font-size: 16px; color: #fff;}
.footer .f_cont .f_t .r_cont .list > ul > li > .dep2{
    margin-top: 20px;
}
.footer .f_cont .f_t .r_cont .list > ul > li > .dep2 ul{
    display: flex;
    flex-wrap: wrap;
    gap:20px;
}
.footer .f_cont .f_t .r_cont .list > ul > li > .dep2 li{width: 100%;}
.footer .f_cont .f_t .r_cont .list > ul > li > .dep2 li a{font-size: 14px;color: #667CA3;}

.footer .f_cont .f_b{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 0;
    border-top: 1px solid #00336A;
}
.footer .f_cont .f_b .f_menu ul{
    display: flex;
    align-items: center;
    gap:20px;
    justify-content: center;
}
.footer .f_cont .f_b .f_menu ul li a{
    color: #fff;
}

/* 반응형 */
@media screen and (max-width:1840px){
  .header .h_inner{
    width:100%;
    padding: 0 40px;
  }
}
@media screen and (max-width:1640px){
    .index_wrap .main_slider .item .t_box{width: 90%;}
}
@media screen and (max-width:1420px){
    .header nav{position: static;transform: translateX(0);}
    .header nav > ul > li{width: 160px;}
    .footer .f_cont .f_t .l_cont{width: 100%;}
    .footer .f_cont .f_t .r_cont{display: none;}
}
@media screen and (max-width:1240px){
  .header nav > ul > li{width: 120px;}
  .header nav > ul > li > a{font-size: 20px;}
  .index_wrap .service_sec .service_list ul li{width: 100%;}
  .index_wrap .service_sec .service_list .item{min-height: 450px;padding: 100px;}
  .index_wrap .consult_sec .main_consult_slide .arrow_btn{display: none;}
  .index_wrap .consult_sec .main_consult_slide .progress_bar{display: block;}
  .footer .f_top{
    flex-direction: column;
    gap:30px;
  }
}
@media screen and (max-width:991px){
    .header nav{display: none;}
}
@media screen and (max-width:768px){
    .top_btn{
        right: 20px;
        bottom: 20px;
        width: 50px;
        height: 50px;
    }
    .header{height: 65px;}
    .header .h_inner{padding: 0 20px;}
    .header .hd_right .lang_w{display: none;}
    .index_wrap .main_slider{
        height: 520px;
    }
    .index_wrap .main_slider .item .t_box{bottom: 100px;}
    .index_wrap .main_slider .item .t_box .t2{margin-top: 15px;}
    .index_wrap .main_slider .pagi_box{bottom: 30px;}
    .index_wrap .main_slider .pagi_box .df_box .arrow_btn{display: none;}
    .index_wrap .main_slider .pagi_box .df_box .main_pagi .swiper-pagination-current{font-size: 18px;}
    .index_wrap section{margin-top: 75px;}
    .index_wrap .cont_t .tit{margin-bottom: 40px;}
    .index_wrap .service_sec .service_list .item{min-height: 200px;padding: 40px 20px;}
    .index_wrap .service_sec .service_list .item .txt .desc{margin-top: 15px;}
    .index_wrap .consult_sec .main_consult_slide .item .img{border-radius: 10px;}
    .index_wrap .consult_sec .main_consult_slide .item .img .text{padding: 30px;font-size: 18px;}
    .index_wrap .consult_sec .main_consult_slide .item .txt{margin-top: 15px;}
    .index_wrap .consult_sec .main_consult_slide .item .txt .desc{font-size: 14px;}
    .index_wrap .consult_sec .main_consult_slide .progress_bar{width: 100%;margin-top: 30px;}
    .index_wrap .location h2{margin-bottom: 30px;}
    .footer{padding-top: 35px;}
    .footer .f_cont{padding: 0 20px;}
    .footer .f_cont .f_t{padding-bottom: 35px;}
    .footer .f_cont .f_t .l_cont .info_box{margin-top: 35px;}
    .footer .f_cont .f_b{padding: 20px 0;}
    .footer .f_cont .f_b .f_menu ul{flex-wrap: wrap;justify-content: flex-start;gap:15px 20px;}
}

@media screen and (max-width:620px){
  .banner .banner_wrap .txt{bottom: 50px;}
  .header .menu,.header .lang{display: none;}
  .mo_btn{
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 5px;
        width: 24px;
        height: 24;
    }
  .mo_btn.open span:nth-of-type(1){
    transform: rotate(45deg);
    transition: transform .3s;
  }  
    .mo_btn span{
        width: 100%;
        height: 2px;
        background: #fff;
        border-radius: 999px;
    }
  #map{
    width: 100%;
    height: 300px;
  }
}